@model tester1.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}





<style>
    #socialLoginForm h4 {
        display: none;
    }
</style>


<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/formLogin/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/Content/formLogin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!--===============================================================================================-->
    <link href="~/Content/formLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/formLogin/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/formLogin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/formLogin/vendor/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Content/formLogin/css/util.css" rel="stylesheet" />
    <link href="~/Content/formLogin/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">

            <div style="position:relative" id="loginForm" class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/Content/formLogin/images/img-01.png" alt="IMG">
                </div>
                <form class="login100-form validate-form">
                    <span class="login100-form-title">
                        <p style="font-size:20px">
                            Vui lòng kiểm tra email để reset mật khẩu.
                        </p>
                    </span>

                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            @Html.ActionLink("Đăng nhập", "Login")
                            
                        </button>
                    </div>
                    <div class="text-center p-t-136">
                        <a class="txt2" href="#">
                            @Html.ActionLink("Register as a new user", "Register")
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>

                </form>

            </div>


        </div>
    </div>



    <!--===============================================================================================-->
    <script src="~/Content/formLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/formLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/formLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/formLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/formLogin/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

</body>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}