
@model tester1.Models.GeocodeResult

<!-- Sử dụng các thuộc tính data để truyền giá trị của Latitude và Longitude vào JavaScript -->
<div id="map" data-latitude="@Model.Latitude" data-longitude="@Model.Longitude"></div>
