
@{
    ViewBag.Title = "ShowDataGetOrder";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thống kê đơn hàng</h2>

<!-- Liên kết đến Chart.js từ CDN -->
<!-- Thư viện AmCharts -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    .amcharts-chart-div .amcharts-plot-container .amcharts-graph-column {
        width: 20px; /* Điều chỉnh độ rộng mong muốn */
    }
</style>
<div>
    <form id="filterForm" class="m-3">
        <div class="form-group row">
            <label for="startDate" class="col-sm-2 col-form-label">Start Date:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="startDate" name="startDate">
            </div>
        </div>
        <div class="form-group row">
            <label for="endDate" class="col-sm-2 col-form-label">End Date:</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="endDate" name="endDate">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">
                <button type="button" id="filterButton" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>
</div>
<div id="chartdiv" style="width: 100%; height: 300px;"></div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/ThongKe/GetOrdersData',
            type: 'GET',
            success: function (data) {
                var chartData = data.map(item => ({
                    date: item.Date,
                    value: item.Count
                }));

                // Tạo biểu đồ cột
                var chart = am4core.create('chartdiv', am4charts.XYChart);
                chart.data = chartData;

                var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                categoryAxis.dataFields.category = 'date';
                categoryAxis.renderer.grid.template.location = 0;
                categoryAxis.renderer.minGridDistance = 30;

                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

                var series = chart.series.push(new am4charts.ColumnSeries());
                series.dataFields.valueY = 'value';
                series.dataFields.categoryX = 'date';
                series.name = 'Số lượng đơn hàng';
                series.columns.template.tooltipText = '{categoryX}: [bold]{valueY}[/]';
                series.columns.template.fillOpacity = .8;

                chart.cursor = new am4charts.XYCursor();
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });


</script>
<script>
    $('#filterButton').on('click', function () {
        var startDate = $('#startDate').val();
        var endDate = $('#endDate').val();

        var start = new Date(startDate);
        var end = new Date(endDate);
        // Kiểm tra nếu startDate lớn hơn endDate
        if (start > end) {
            Swal.fire({
                icon: 'error',
                title: 'Lỗi!',
                text: 'Ngày kết thúc không được nhỏ hơn ngày bắt đầu',
            });
            return; // Không gửi yêu cầu nếu có lỗi
        } else if (end > new Date()) {
            Swal.fire({
                icon: 'error',
                title: 'Lỗi!',
                text: 'Ngày kết thúc không được lớn hơn ngày hiện tại',
            });
            return; // Không gửi yêu cầu nếu có lỗi
        }

        $.ajax({
            url: '/ThongKe/GetOrdersData',
            type: 'GET',
            data: {
                startDate: startDate,
                endDate: endDate
            },
            success: function (data) {
                var chartData = data.map(item => ({
                    date: item.Date,
                    value: item.Count
                }));

                var chart = am4core.create('chartdiv', am4charts.XYChart);
                chart.data = chartData;

                var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                categoryAxis.dataFields.category = 'date';
                categoryAxis.renderer.grid.template.location = 0;
                categoryAxis.renderer.minGridDistance = 30;

                var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

                var series = chart.series.push(new am4charts.ColumnSeries());
                series.dataFields.valueY = 'value';
                series.dataFields.categoryX = 'date';
                series.name = 'Số lượng đơn hàng';
                series.columns.template.tooltipText = '{categoryX}: [bold]{valueY}[/]';
                series.columns.template.fillOpacity = .8;

                chart.cursor = new am4charts.XYCursor();
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });

</script>
