@model IEnumerable<tester1.Models.AspNetUser>
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<table class="table">
    <tr>
        <th>
        <td>
            details
        </td>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Email
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, area = "Admin" }) |
            </td>
        </tr>
    }

</table>
