
@{
    ViewBag.Title = "Sale";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Sale</h2>

<table class="table">
    <thead class="table-dark">

        <th>TenSP</th>
        <th>Hình ảnh</th>
        <th>%Sale</th>
        <th>Mô tả</th>
        <th>Ngày bắt đầu</th>
        <th>Ngày kết thúc</th>

    </thead>
    <tbody>
        <td>a</td>
        <td>b</td>
        <td>c</td>
        <td>d</td>
        <td>d</td>
    </tbody>
</table>