
@{
    ViewBag.Title = "UnSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
    #content {
        background: #fff;
    }

    .alert {
        text-align: center;
        padding: 10px;
        border-radius: 4px;
        font-weight: bold;
    }

    .alert-warning {
        background-color: #fff3cd;
        border-color: #ffeeba;
        color: #856404;
    }
</style>

<div class="alert alert-warning">
    Đã có lỗi!
</div>
