
<div class="col l-2">
    <div class="sidebar notif">
        <h1 class="section">Tin Mới</h1>
        <ul class="item-sidebar">
            <li class="li-notif">
                <a href=""> ● Cách nhận biết chuối chín tự nhiên và chuối chín do nhúng hóa chất</a>
            </li>
            <li class="li-notif">
                <a href=""> ● Những người này không nên ăn dứa trong đông</a>
            </li>
            <li class="li-notif">
                <a href=""> ● 3 bí quyết lựa chọn thực phẩm sạch</a>
            </li>
        </ul>
    </div>

</div>
